@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #e3f2fd;
}
.wrapper{
    width: 65vmin;
    height: 70vmin;
    background: #293447;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
}
.game-details{
    color: #bbc6dc;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}
.play-board{
    width: 100%;
    height: 100%;
    background:#212837 ;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr) ;
}
.play-board .food{
    background: #ff003d;
}
.play-board .head{
    background: #60cbff;
}
.controls{
    display: none;
    justify-content: space-between;
}
.controls i {
    color: #bbc6dc;
    padding: 25px 0px;
    text-align: center;
    cursor: pointer;
    font-size: 1.3rem;
    width: calc(100% / 4);
    border-right: 1px solid #171b26;
}
 @media screen and (max-width: 800px) { 
    .wrapper {
        height: 115vmin;
        width: 90vmin;
    }
    .game-details{
        font-size: 1rem;
        padding: 15px 27px;
    }
    .controls {
        display: flex;
    }
    .controls i {
        padding: 15px 0px;
        font-size: 1rem;
    }
} 